<!doctype html>
<html lang="pt-br" ng-app="ComprasApp">
<head>
	<meta charset="UTF-8">
	<title>Lista de Compras</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<!-- CSS -->
	<link href='http://fonts.googleapis.com/css?family=Enriqueta:400,700' rel='stylesheet' type='text/css'>
	<link href="style.css" rel="stylesheet">
	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="icons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="icons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="icons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="icons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="icons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="icons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="icons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="icons/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="icons/favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="icons/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="icons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="icons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="icons/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#ffecd3">
	<meta name="msapplication-TileImage" content="icons/mstile-144x144.png">
</head>
<body ng-controller="ComprasController">

	<div class="container">

		<h1 class="title main-title">Lista de Compras</h1>

		<p>Faça sua lista de compras de forma fácil e não se perca mais no mercado.</p>

		<table class="table" ng-if="produtos.length">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Preço</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="p in produtos" ng-class="{comprado: p.comprado}" ng-click="p.comprado = !p.comprado;" ng-swipe-left="removerProduto(p);" ng-animate>
					<td>{{ p.nome }}</td>
					<td>{{ p.valor | currency:"R$ " }}</td>
				</tr>
			</tbody>
		</table>

		<p class="valor-total" ng-if="produtos.length"><small>Aprox.</small> {{ valorTotal | currency:"R$ " }}</p>

		<p class="notice" ng-if="!produtos.length">Nenhum produto na sua lista. Que tal adicionar alguns?</p>

	</div>

	<!-- Adicionar prdutos -->
	<div class="add-product-container" id="add-product-container" ng-class="{open: app.add}">
		<a href="#" ng-click="app.add = !app.add; $event.preventDefault();" class="btn-openclose" id="btn-openclose">+</a>

		<form name="addProduto" class="form-product" id="form-product" ng-submit="adicionaProduto();">
			<div>
				<input type="text" name="nome" class="input-text" placeholder="O que vai comprar?" ng-model="produto.nome" ng-required="true" required>
				<input type="number" min="0" name="valor" ng-model="produto.valor" class="input-text" placeholder="Sabe o preço?">
			</div>

			<input type="submit" value="Adicionar!" class="input-submit" ng-disabled="addProduto.$invalid">
		</form>
	</div>


	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-touch.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.0/fastclick.min.js"></script>
	<script src="main.js"></script>

</body>
</html>