html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * Body
 */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body {
	font-family: 'Enriqueta', serif;
	font-size: 18px;
	background: #FFECD3;
	color: #CE5100;
}

.container {
	width: 100%;
	padding: 0 5% 80px;
}

/**
 * Titles
 */
.title {
	padding: 40px 0 10px;
	text-align: center;
	margin-bottom: 10px;
}

.title, p {
	width: 100%;
}

.main-title {
	font-size: 36px;
}

p {
	padding: 5px 0;
	margin-bottom: 20px;text-align: center;
}

/**
 * Tabela
 */
.table {
	width: 100%;
	margin: 30px 0;
	border-collapse: separate;
	border-spacing: 0 10px;
}

.table thead {
	font-weight: 700;
}

.table tbody {
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}

.table tr {
	transition: all .3s;
	border-radius: 5px;
}

.table tr.ng-leave {
	-webkit-animation: exitRow .3s;
}

@-webkit-keyframes exitRow {
	to {
		-webkit-transform: translateX(-50px);
		background: red;
		opacity: 0;
		color: #FFF;
	}
}

.table tr th, .table tr td {
	padding: 10px;
	text-align: left;
}

.table tr th:last-child, .table tr td:last-child {
	text-align: right;
}

.table tbody tr td:nth-child(1) {
	border-radius: 5px 0 0 5px;
}

.table tbody tr td:nth-child(2) {
	border-radius: 0 5px 5px 0;
}

.comprado {
	background: #decfba;
	text-decoration: line-through;
}

.valor-total {
	font-weight: 700;
	font-size: 26px;
	text-align: right;
}

.valor-total small {
	font-size: 12px;
}

.notice {
	background: #FEBE7E;
	padding: 10px;
	border-radius: 10px;
}


/**
 * Adicionar
 */
.add-product-container {
	position: fixed;
	bottom: -160px;
	left: 0;
	width: 100%;
	padding: 0 5% 20px 5%;
	text-align: center;
	box-shadow: rgba(0,0,0,.1) 0 -3px 15px;
	background: #FFF;
	transition: all .3s;
	-webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.open {
	bottom: 0;
}

.btn-openclose {
	text-decoration: none;
	color: #000;
	text-align: center;
	display: inline-block;
	font-size: 50px;
	transition: all .3s;
	margin-bottom: 20px;
	-webkit-transform: rotate(0);
}

.open .btn-openclose {
	-webkit-transform: rotate(45deg);
}

/* form */
.input-text {
	background: #FFF;
	border: 1px solid #ddd;
	display: block;
	width: 100%;
	text-align: center;
	padding: 10px 7px;
	font-size: 14px;
	font-family: 'Enriqueta', serif;
	margin: 0;
}

.input-text:first-child {
	border-radius: 10px 10px 0 0;
	border-bottom: 0;
}

.input-text:last-child {
	border-radius: 0 0 10px 10px;
}

.input-submit {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	border-radius: 10px;
	width: 100%;
	background: #B6D369;
	border: 0;
	font-family: 'Enriqueta', serif;
	padding: 10px 7px;
	font-size: 14px;
	color: #FFF;
	font-weight: 700;
	margin-top: 15px;
	cursor: pointer;
	transition: all .3s;
}

.input-submit:disabled {
	opacity: .7;
	background-color: #CCC;
}

.ng-invalid {
	outline-color: red;
}